@model IEnumerable<RecipeForm.Models.RecipeModel>

<h1 class="mb-5 text-center text-info">Recipes</h1>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Recipe Name</th>
            <th scope="col">Meal Type</th>
            <th scope="col">Main Ingredient</th>
            <th scope="col">Prep Time</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            if (item.RecipeId > 0 && item.RecipeName == "Apple Pie")
            {
                <tr>
                    <td><a asp-action="ApplePieDetails">@item.RecipeName</a></td>
                    <td>@item.MealType</td>
                    <td>@item.Ingredient</td>
                    <td>@item.PrepTime </td>
                </tr>


            }
            else if (item.RecipeId > 0 && item.RecipeName == "Chicken Noodle")
            {
                <tr>
                    <td><a asp-action="ChickenNoodleDetails">@item.RecipeName</a></td>
                    <td>@item.MealType</td>
                    <td>@item.Ingredient</td>
                    <td>@item.PrepTime </td>
                </tr>

            }
            else
            {
                <tr>
                    <td>@item.RecipeName</td>
                    <td>@item.MealType</td>
                    <td>@item.Ingredient</td>
                    <td>@item.PrepTime </td>
                </tr>
            }





        }





        }

    </tbody>
    </table>

<div>
    <a asp-controller="Recipe" asp-action="Create" class="btn btn-primary">Create</a>
    <a asp-action="Update" class="btn btn-dark">Update</a>
    <a asp-action="Delete" class="btn btn-danger">Delete</a>
</div>