@model IEnumerable<RecipeForm.Models.RecipeModel>

<h1 class="mb-5 text-center text-info">Recipes</h1>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Recipe Name</th>
            <th scope="col">Meal Type</th>
            <th scope="col">Main Ingredient</th>
            <th scope="col">Prep Time</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            if (item.RecipeId > 0 && item.RecipeName.Contains("Pie"))
            {
        <tr>
            <td><a asp-action="PieDetails" asp-route-Id="@item.RecipeId">@item.RecipeName</a></td>
            <td>@item.MealType</td>
            <td>@item.Ingredient</td>
            <td>@item.PrepTime </td>
            <td>
                <div>
                    <a asp-action="Update" class="btn btn-success" asp-route-Id="@item.RecipeId">Update</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-Id="@item.RecipeId">Delete</a>
                </div>
            </td>
        </tr>


            }
            else if (item.RecipeId > 0 && item.RecipeName.Contains("Noodle"))
            {
                <tr>
                    <td><a asp-action="NoodleDetails" asp-route-Id="@item.RecipeId">@item.RecipeName</a></td>
                    <td>@item.MealType</td>
                    <td>@item.Ingredient</td>
                    <td>@item.PrepTime </td>
                    <td>
                        <div>
                            <a asp-action="Update" class="btn btn-success" asp-route-Id="@item.RecipeId">Update</a>
                            <a asp-action="Delete" class="btn btn-danger" asp-route-Id="@item.RecipeId">Delete</a>
                        </div>
                    </td>
                </tr>

            }
            else
            {
                <tr>
                    <td><a asp-action="ComingSoonDetails">@item.RecipeName</a></td>
                    <td>@item.MealType</td>
                    <td>@item.Ingredient</td>
                    <td>@item.PrepTime </td>
                    <td>
                        <div>
                            <a asp-action="Update" class="btn btn-success" asp-route-Id="@item.RecipeId">Update</a>
                            <a asp-action="Delete" class="btn btn-danger" asp-route-Id="@item.RecipeId">Delete</a>
                        </div>
                    </td>
                </tr>
            }





        }

        

    </tbody>
    

</table>
<div>
    <a asp-controller="Recipe" asp-action="Create" class="btn btn-primary">Create</a>
</div>

